.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(16,16, 16,1);}
.pixel-2{background-color : rgba(104,104, 104,1);}
.pixel-3{background-color : rgba(232,184, 0,1);}
.pixel-4{background-color : rgba(248,232, 0,1);}
.pixel-5{background-color : rgba(192,136, 0,1);}
.pixel-6{background-color : rgba(128,80, 0,1);}
.pixel-7{background-color : rgba(248,248, 120,1);}
.pixel-8{background-color : rgba(248,248, 248,1);}
.pixel-9{background-color : rgba(224,0, 0,1);}
.pixel-a{background-color : rgba(248,72, 72,1);}
.pixel-b{background-color : rgba(176,0, 0,1);}
