.pixel-0{background-color : rgba(0,0, 0,0);}
.pixel-1{background-color : rgba(208,72, 80,1);}
.pixel-2{background-color : rgba(176,32, 48,1);}
.pixel-3{background-color : rgba(248,128, 120,1);}
.pixel-4{background-color : rgba(248,192, 200,1);}
.pixel-5{background-color : rgba(40,40, 40,1);}
.pixel-6{background-color : rgba(240,208, 224,1);}
.pixel-7{background-color : rgba(248,248, 248,1);}
.pixel-8{background-color : rgba(24,88, 160,1);}
.pixel-9{background-color : rgba(72,144, 208,1);}
