.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(208,176, 0,1);}
.pixel-2{background-color : rgba(136,96, 0,1);}
.pixel-3{background-color : rgba(16,16, 16,1);}
.pixel-4{background-color : rgba(248,232, 40,1);}
.pixel-5{background-color : rgba(248,248, 120,1);}
.pixel-6{background-color : rgba(168,128, 40,1);}
.pixel-7{background-color : rgba(102,51, 0,1);}
.pixel-8{background-color : rgba(208,176, 80,1);}
.pixel-9{background-color : rgba(144,104, 16,1);}
