.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(184,72, 0,1);}
.pixel-2{background-color : rgba(128,56, 0,1);}
.pixel-3{background-color : rgba(248,128, 72,1);}
.pixel-4{background-color : rgba(216,104, 40,1);}
.pixel-5{background-color : rgba(16,16, 16,1);}
.pixel-6{background-color : rgba(192,120, 56,1);}
.pixel-7{background-color : rgba(240,184, 120,1);}
.pixel-8{background-color : rgba(216,152, 88,1);}
.pixel-9{background-color : rgba(168,88, 8,1);}
.pixel-a{background-color : rgba(153,51, 0,1);}
.pixel-b{background-color : rgba(248,248, 248,1);}
.pixel-c{background-color : rgba(248,224, 176,1);}
.pixel-d{background-color : rgba(248,216, 144,1);}
.pixel-e{background-color : rgba(200,120, 40,1);}
.pixel-f{background-color : rgba(232,152, 72,1);}
