.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(153,153, 153,1);}
.pixel-2{background-color : rgba(72,72, 128,1);}
.pixel-3{background-color : rgba(204,204, 204,1);}
.pixel-4{background-color : rgba(64,128, 192,1);}
.pixel-5{background-color : rgba(248,248, 248,1);}
.pixel-6{background-color : rgba(128,208, 248,1);}
.pixel-7{background-color : rgba(104,168, 224,1);}
.pixel-8{background-color : rgba(16,16, 16,1);}
.pixel-9{background-color : rgba(104,72, 56,1);}
.pixel-a{background-color : rgba(224,168, 88,1);}
.pixel-b{background-color : rgba(152,104, 72,1);}
.pixel-c{background-color : rgba(168,96, 32,1);}
.pixel-d{background-color : rgba(248,208, 104,1);}
.pixel-e{background-color : rgba(232,168, 88,1);}
.pixel-f{background-color : rgba(184,136, 56,1);}
