.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(168,144, 72,1);}
.pixel-2{background-color : rgba(248,248, 200,1);}
.pixel-3{background-color : rgba(102,51, 0,1);}
.pixel-4{background-color : rgba(216,192, 112,1);}
.pixel-5{background-color : rgba(248,240, 168,1);}
.pixel-6{background-color : rgba(16,16, 16,1);}
.pixel-7{background-color : rgba(104,104, 120,1);}
.pixel-8{background-color : rgba(216,112, 112,1);}
.pixel-9{background-color : rgba(240,240, 248,1);}
.pixel-a{background-color : rgba(204,204, 204,1);}
.pixel-b{background-color : rgba(104,128, 216,1);}
.pixel-c{background-color : rgba(0,72, 208,1);}
.pixel-d{background-color : rgba(192,24, 0,1);}
