.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(224,128, 120,1);}
.pixel-2{background-color : rgba(152,88, 80,1);}
.pixel-3{background-color : rgba(248,192, 160,1);}
.pixel-4{background-color : rgba(16,16, 16,1);}
.pixel-5{background-color : rgba(248,152, 128,1);}
.pixel-6{background-color : rgba(112,40, 8,1);}
.pixel-7{background-color : rgba(200,128, 80,1);}
.pixel-8{background-color : rgba(168,96, 48,1);}
.pixel-9{background-color : rgba(152,80, 32,1);}
.pixel-a{background-color : rgba(248,248, 248,1);}
.pixel-b{background-color : rgba(192,192, 192,1);}
.pixel-c{background-color : rgba(232,88, 72,1);}
.pixel-d{background-color : rgba(176,56, 40,1);}
.pixel-e{background-color : rgba(153,153, 153,1);}
