.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(160,128, 48,1);}
.pixel-2{background-color : rgba(120,80, 40,1);}
.pixel-3{background-color : rgba(240,216, 176,1);}
.pixel-4{background-color : rgba(208,176, 112,1);}
.pixel-5{background-color : rgba(16,16, 16,1);}
.pixel-6{background-color : rgba(112,88, 0,1);}
.pixel-7{background-color : rgba(192,168, 16,1);}
.pixel-8{background-color : rgba(240,208, 80,1);}
.pixel-9{background-color : rgba(248,248, 176,1);}
.pixel-a{background-color : rgba(168,64, 32,1);}
.pixel-b{background-color : rgba(232,152, 136,1);}
.pixel-c{background-color : rgba(248,208, 208,1);}
.pixel-d{background-color : rgba(224,96, 64,1);}
