.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(184,104, 48,1);}
.pixel-2{background-color : rgba(128,48, 0,1);}
.pixel-3{background-color : rgba(248,232, 80,1);}
.pixel-4{background-color : rgba(216,200, 48,1);}
.pixel-5{background-color : rgba(248,128, 112,1);}
.pixel-6{background-color : rgba(16,16, 16,1);}
.pixel-7{background-color : rgba(216,64, 64,1);}
.pixel-8{background-color : rgba(16,80, 32,1);}
.pixel-9{background-color : rgba(64,160, 24,1);}
.pixel-a{background-color : rgba(104,200, 64,1);}
.pixel-b{background-color : rgba(152,240, 136,1);}
.pixel-c{background-color : rgba(32,144, 88,1);}
.pixel-d{background-color : rgba(88,200, 144,1);}
.pixel-e{background-color : rgba(128,232, 192,1);}
.pixel-f{background-color : rgba(248,248, 248,1);}
