.pixel-0{background-color : rgba(214,214, 214,1);}
.pixel-1{background-color : rgba(214,33, 33,1);}
.pixel-2{background-color : rgba(165,16, 16,1);}
.pixel-3{background-color : rgba(214,24, 20,1);}
.pixel-4{background-color : rgba(222,33, 33,1);}
.pixel-5{background-color : rgba(214,16, 16,1);}
.pixel-6{background-color : rgba(232,55, 55,1);}
.pixel-7{background-color : rgba(255,107, 111,1);}
.pixel-8{background-color : rgba(255,119, 119,1);}
.pixel-9{background-color : rgba(245,95, 95,1);}
.pixel-a{background-color : rgba(202,0, 0,1);}
.pixel-b{background-color : rgba(222,45, 45,1);}
.pixel-c{background-color : rgba(214,12, 8,1);}
.pixel-d{background-color : rgba(232,68, 70,1);}
.pixel-e{background-color : rgba(255,148, 148,1);}
.pixel-f{background-color : rgba(210,4, 4,1);}
.pixel-g{background-color : rgba(252,129, 132,1);}
.pixel-h{background-color : rgba(233,84, 86,1);}
.pixel-i{background-color : rgba(173,0, 0,1);}
.pixel-j{background-color : rgba(252,63, 63,1);}
.pixel-k{background-color : rgba(249,199, 199,1);}
.pixel-l{background-color : rgba(0,8, 8,0);}
.pixel-m{background-color : rgba(189,198, 198,1);}
.pixel-n{background-color : rgba(140,156, 156,1);}
.pixel-o{background-color : rgba(8,24, 24,1);}
.pixel-p{background-color : rgba(255,78, 78,1);}
.pixel-q{background-color : rgba(222,24, 24,1);}
.pixel-r{background-color : rgba(251,53, 53,1);}
.pixel-s{background-color : rgba(237,41, 41,1);}
