.pixel-0{background-color : rgba(248,191, 36,0);}
.pixel-1{background-color : rgba(112,168, 48,1);}
.pixel-2{background-color : rgba(80,96, 40,1);}
.pixel-3{background-color : rgba(184,248, 112,1);}
.pixel-4{background-color : rgba(16,16, 16,1);}
.pixel-5{background-color : rgba(152,208, 72,1);}
.pixel-6{background-color : rgba(24,72, 72,1);}
.pixel-7{background-color : rgba(56,144, 120,1);}
.pixel-8{background-color : rgba(128,232, 192,1);}
.pixel-9{background-color : rgba(96,208, 160,1);}
.pixel-a{background-color : rgba(200,200, 200,1);}
.pixel-b{background-color : rgba(248,248, 248,1);}
.pixel-c{background-color : rgba(184,40, 32,1);}
.pixel-d{background-color : rgba(248,104, 96,1);}
.pixel-e{background-color : rgba(216,72, 64,1);}
