.pixel-0{background-color : rgba(255,255, 255,0);}
.pixel-1{background-color : rgba(153,51, 0,1);}
.pixel-2{background-color : rgba(16,16, 16,1);}
.pixel-3{background-color : rgba(216,80, 32,1);}
.pixel-4{background-color : rgba(248,144, 64,1);}
.pixel-5{background-color : rgba(248,192, 96,1);}
.pixel-6{background-color : rgba(248,248, 248,1);}
.pixel-7{background-color : rgba(24,72, 48,1);}
.pixel-8{background-color : rgba(208,64, 8,1);}
.pixel-9{background-color : rgba(64,160, 120,1);}
.pixel-a{background-color : rgba(144,200, 216,1);}
.pixel-b{background-color : rgba(240,144, 8,1);}
.pixel-c{background-color : rgba(248,208, 104,1);}
.pixel-d{background-color : rgba(248,224, 144,1);}
.pixel-e{background-color : rgba(224,168, 88,1);}
