.pixel-0{background-color : rgba(248,191, 36,0);}
.pixel-1{background-color : rgba(222,97, 33,1);}
.pixel-2{background-color : rgba(148,48, 0,1);}
.pixel-3{background-color : rgba(255,203, 99,1);}
.pixel-4{background-color : rgba(255,146, 66,1);}
.pixel-5{background-color : rgba(0,0, 0,1);}
.pixel-6{background-color : rgba(24,65, 107,1);}
.pixel-7{background-color : rgba(255,251, 255,1);}
.pixel-8{background-color : rgba(33,121, 148,1);}
.pixel-9{background-color : rgba(41,170, 189,1);}
.pixel-a{background-color : rgba(214,211, 214,1);}
.pixel-b{background-color : rgba(198,48, 33,1);}
.pixel-c{background-color : rgba(57,56, 57,1);}
.pixel-d{background-color : rgba(239,81, 66,1);}
.pixel-e{background-color : rgba(255,162, 90,1);}
.pixel-f{background-color : rgba(255,227, 156,1);}
